.root {
  -fx-background-color: linear-gradient(to bottom, lightgreen, green);
}

.header {
  -fx-padding: 20;
  -fx-background-color: rgba(0, 0, 0, 0.3);
}

.header Text {
  -fx-fill: #fff;
  -fx-effect: dropshadow(gaussian, darkgray, 10, 0.2, 1, 1);
}

.header #company-name {
  -fx-font-size: 18pt;
  -fx-font-weight: bold;
}

.header #company-address {
  -fx-font-size: 16pt;
}

.footer {
  -fx-border-width: 1px;
  -fx-border-style: solid;
}

.footer .timer {
  -fx-padding: 10 20 20 0;
  -fx-alignment: center;
  -fx-spacing: -6px;
}

.footer .timer Text {
  -fx-fill: #fff;
}

.footer .timer #text-date {
  -fx-font-size: 18pt;
  -fx-font-weight: bold;
}

.footer .timer #text-time {
  -fx-font-size: 16pt;
}
