{% extends "layout.html.j2" %}

{% block title %}
  <title>Media Informasi - Konfigurasi</title>
{% endblock %}

{% block content %}
  {% import "macros.html.j2" as macros %}
  {% call macros.ui_sidebar("Settings") %}
    {{ macros.top_menu() }}
    <div class="ui stackable grid" style="padding-top: 5em">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <h1 class="ui header">Konfigurasi</h1>
        <table class="ui two column unstackable celled table">
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endcall %}
{% endblock %}

{% block script %}
  <script type="text/javascript">
    _.q().config.init();
  </script>
{% endblock %}
