{% extends "layout.html.j2" %}

{% block title %}
  <title>Media Informasi</title>
{% endblock %}

{% block content %}
  {% import "macros.html.j2" as macros %}
  {% call macros.ui_sidebar("Home") %}
    {{ top_menu() }}
    <div class="ui container" style="padding-top: 5em">
      <h1 class="ui header">Hello World</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  {% endcall %}
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $('.sidebar.item').click(() => $('.ui.sidebar').sidebar('toggle'));
  </script>
{% endblock %}
