{% extends "layout.html.j2" %}

{% block title %}
  <title>Media Informasi</title>
{% endblock %}

{% block content %}
  <div class="ui stackable three column middle aligned grid" style="height: 100vh">
    <div class="column"></div>
    <div class="column">
      <h1 class="ui center aligned header">
        Media Informasi
        <div class="sub header">Versi 1.0.0</div>
      </h1>
      <div class="ui top attached icon message">
        <i class="info circle icon"></i>
        <div class="content">
          <div class="header">Selamat Datang</div>
          <p>Masukkan username dan password anda</p>
        </div>
      </div>
      <div class="ui bottom attached small padded form segment">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="username" value="" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="password" name="password" value="" placeholder="Password">
            <i class="key icon"></i>
          </div>
        </div>
        <button class="ui small primary labeled icon button" type="button" name="button">
          <i class="sign in icon"></i>
          Login
        </button>
      </div>
    </div>
    <div class="column"></div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript" id="params" data-domain="{{ domain }}"></script>
  <script type="text/javascript">
    $('input').focus(function (e) {
      $(e.target).closest('.field').removeClass('error');
    });
    $('.ui.primary.button').click(function() {
      let username = $('input[name="username"]');
      let password = $('input[name="password"]');
      [username, password].forEach(el => {
        if(el.val() == '') el.closest('.field').addClass('error');
      });
      if(username.val() == '' || password.val() == '') return false;
      let auth = {
        username: username.val(),
        url: `http://${$('#params').data('domain')}/api/login`,
        timestamp: Date.now()
      };
      console.log(auth);
    });
  </script>
{% endblock %}
