{% macro ui_sidebar(active_item="Home") %}
  {% set items = [
    ("Home",    "/home",    "home icon"),
    ("Content", "/content", "image icon"),
    ("Settings",  "/config",  "cog icon")
  ] %}
  <div class="ui inverted vertical borderless sidebar menu">
    {% for item in items %}
      {% if item[0] == active_item %}
        <div class="active item">{{ item[0] }}<i class="{{ item[2] }}"></i></div>
      {% else %}
        <a href="{{ item[1] }}" class="item">{{ item[0] }}<i class="{{ item[2] }}"></i></a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="pusher">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro top_menu() %}
  <div class="ui top fixed borderless menu">
    <div class="ui container">
      <a href="#" class="sidebar item"><i class="sidebar icon"></i></a>
      <div class="header item">Media Informasi</div>
    </div>
  </div>
{% endmacro %}
